*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #000;
    background: url(./images/michael-diane-weidner-h-rP5KSC2W0-unsplash.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

.card{
    text-align: center;
    padding: 40px 35px;
    color: #fff;
    width:90%;
    max-width: 470px;
    background: rgb(33,48,173);
    background: linear-gradient(135deg, rgba(33,48,173,1) 0%, rgba(5,16,83,1) 41%, rgba(53,89,181,1) 100%);
    margin: 100px auto 0;
    border-radius: 20px;

}
.search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.search input{
    background: #ebfffc;
    color: #555;
    border: 0;
    outline: 0;
    height: 60px;
    flex: 1;
    padding: 10px 25px;
    margin-right: 16px;
    border-radius: 30px;
    font-size: 18px;
}
.search button{
    background: #ebfffc;
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 25px;
    margin-top: 10px;
    display: none;
}

.search button img{
    width: 16px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    margin-top: -10px;
    font-weight: 400;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    text-align: left;
    align-items: center;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}




@media (max-width: 490px) {
    .search {
        flex-direction: row;
        justify-content: center; 
    }

    .search input {
        width: auto; 
        margin-right: 16px; 
        margin-bottom: 0; 
    }

    .search button {
        width: 60px;
        height: 60px; 
    }

    .weather h1 {
        font-size: 40px;
    }

    .weather h2 {
        font-size: 25px;
    }

    .weather-icon {
        width: 100px;
    }

    .details {
        margin-top: 20px;
    }

    .col img {
        width: 25px;
    }

    .humidity, .wind {
        font-size: 20px;
    }
}
